{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Zoogler</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active">Editable</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Damaged Goods</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       <div class="row">
                           <div class="col text-right">
                                <div class="btn-group float-right">
                                    <div class="btn-group mo-mb-2">
                                        <button type="button" class="btn btn-success btn-lg" fdprocessedid="gg5obj">Export as</button>
                                        <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" fdprocessedid="jdvfec">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'damaged_stock_history_excel'%}">Excel</a>
                                            <a class="dropdown-item" href="{% url 'generate_pdf' id %}">PDF</a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                        <h4 class="mt-0 header-title"></h4>
                        <p class="text-muted mb-4 font-13"></p>


                        <div class="mb-3">
                        </div>

                        <table class="table mb-0" id="my-table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th data-priority="1">Name</th>
                                    <th data-priority="2">Description</th>
                                    <th data-priority="3">Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <th>{{i.damaged.category}}</th>
                                    <td>{{i.damaged.name}}</td>
                                    <td>{{i.damaged.description}}</td>
                                    <td>{{i.stock}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

{% endblock %}
