{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Zoogler</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active">Editable</li>
                        </ol>
                    </div>
                    <h4 class="page-title">View Customers List</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title"></h4>
                        <p class="text-muted mb-4 font-13"></p>

                        <div class="mb-3">
                            <form method="GET" action="{% url 'customer_search' %}">
                                <div class="row mb-4 align-items-end">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label for="search" class="sr-only">Search by Name or Number</label>
                                            <input type="text" class="form-control" id="search" name="search_query" placeholder="Search by Name or Number" value="{{ request.GET.search_query }}">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="submit" id="search-btn">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>

                                    <div class="btn-group float-right">
                                        <div class="btn-group mo-mb-2">
                                            <button type="button" class="btn btn-success btn-lg">Export as</button>
                                            <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'customer_exportsearch' %}?search_query={{ request.GET.search_query }}&export=excel">Excel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table class="table mb-0" id="my-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>State</th>
                                    <th>District</th>
                                    <th>Pincode</th>
                                    <th>Email</th>
                                    <th>GST Number</th>
                                    <th>PAN Number</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in view %}
                                <tr>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.address }}</td>
                                    <td>{{ i.state }}</td> 
                                    <td>{{ i.district }}</td>
                                    <td>{{ i.pincode }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.GST_number }}</td>
                                    <td>{{ i.PAN_number }}</td>
                                    <td>{{ i.phone_number }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->
</div> <!-- Page content Wrapper -->
{% endblock %}
