
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">

    <div class="container-fluid">

<div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                          <div class="mb-3">
    <form method="GET" action="{% url 'user_search_export' %}">
        <div class="row mb-4 align-items-end">
            <div class="col-md-2">
               <h3>Department </h3>
            </div>
           <div class="col-md-2">
<!--               <h3>User List</h3>-->
            </div>


<!--            <div class="col-md-8 text-right">-->
<!--                <a type="button" class="btn btn-primary waveslight" href="{% url 'register_view' %}" style="margin-left:12px;"><i class="mdi mdi-plus mr-2"></i>Department</a>-->
<!--                <a href="" class="fas fa-print fa-1x" title="Print" style="color:#605daf; margin-right: 10px;"></a>-->
<!--                <a href="" class="far fa-file-pdf fa-1x" title="Pdf" style="color:#605daf; margin-right: 10px;"></a>-->
<!--                <a href="" class="fas fa-file-excel fa-1x" title="Excel" style="color:#605daf; margin-right: 10px;"></a>-->
<!--                <a href="" class="fas fa-home fa-1x" title="Home" style="color:#605daf;"></a>-->
<!--            </div>-->
        </div>
    </form>
</div>

                    </div>
                </div>
            </div>
        </div>

        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="mt-0 header-title"></h4>
                        <div class="mb-3">
                            <form method="GET" action="{% url 'user_search_export' %}">
                                <div class="row mb-6 align-items-end">
<div class="col-md-12 text-right">
<!--                    <a type="button" class="btn btn-primary waveslight" href="{% url 'register_view' %}" style="margin-left:12px;"><i class="mdi mdi-plus mr-2"></i>Department</a>-->

                <a type="button" class="btn btn-primary waveslight" href="{% url 'adddepartment' %}" style="margin-left:12px;"><i class="mdi mdi-plus mr-2"></i>Department</a>
                <a href="" class="fas fa-print fa-1x" title="Print" style="color:#605daf; margin-right: 10px;"></a>
                <a href="" class="far fa-file-pdf fa-1x" title="Pdf" style="color:#605daf; margin-right: 10px;"></a>
                <a href="" class="fas fa-file-excel fa-1x" title="Excel" style="color:#605daf; margin-right: 10px;"></a>
                <a href="" class="fas fa-home fa-1x" title="Home" style="color:#605daf;"></a>
            </div>
                                </div>
                            </form>
                        </div>

                       <table class="table mb-0" id="my-table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Designations</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% for dept in departments %}
        <tr>
            <td>{{ dept.dept_Name }}</td>
            <td>
                <ul>
                    {% for desg in dept.designation_set.all %}
                    <li>{{ desg.user_type }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>
                <a href="{% url 'update_departmentlist' dept.id %}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'delete_departmentlist' dept.id %}" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this user?');">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

{% endblock %}
