{% extends 'front/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url({% static 'front/assets/images/background/page-title1.jpg' %});">
            <div class="shape" style="background-image: url({% static 'assets/images/shape/banner-shap.png' %});"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Certificate</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="">Home</a></li>
                        <li>Certificate</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- team-section -->
        <section class="team-section team-page-section">
            <div class="auto-container">
                 <h2>Certificate</h2>
                <p>Glenda is an ISO 9001:2015 certified company which has both central FSSAI license and BIS certification that meets the stringent national and international norms, with state of the art technique.</p>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500m">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="{% static 'front/assets/images/service-2.jpg' %}" alt=""></figure>

                                </div>
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Christian Bale</a></h4>-->
<!--                                    <span class="designation">CEO & Founder</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500m">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="{% static 'front/assets/images/service-3.jpg' %}" alt=""></figure>

                                </div>
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Hard Branots</a></h4>-->
<!--                                    <span class="designation">Designer</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500m">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="{% static 'front/assets/images/service-4.jpg' %}" alt=""></figure>

                                </div>
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Monica Bana</a></h4>-->
<!--                                    <span class="designation">Manager</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500m">-->
<!--                            <div class="inner-box">-->
<!--                                <div class="image-box">-->
<!--                                    <figure class="image"><img src="assets/images/team/team-4.jpg" alt=""></figure>-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Benedict Cumbatch</a></h4>-->
<!--                                    <span class="designation">CEO & Founder</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500m">-->
<!--                            <div class="inner-box">-->
<!--                                <div class="image-box">-->
<!--                                    <figure class="image"><img src="assets/images/team/team-5.jpg" alt=""></figure>-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Jennifer Lawrence</a></h4>-->
<!--                                    <span class="designation">Designer</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500m">-->
<!--                            <div class="inner-box">-->
<!--                                <div class="image-box">-->
<!--                                    <figure class="image"><img src="assets/images/team/team-6.jpg" alt=""></figure>-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="lower-content">-->
<!--                                    <h4><a href="index.html">Michael Bean</a></h4>-->
<!--                                    <span class="designation">Manager</span>-->
<!--                                    <div class="share-box"><a href="index.html"><i class="fas fa-share-alt"></i></a></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
        <!-- team-section end -->


        <!-- testimonial-style-two -->
        <section class="testimonial-style-two centred bg-color-1">
            <div class="thumb-box">
                <div class="thumb thumb-1"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                <div class="thumb thumb-2"><img src="assets/images/resource/thumb-2.jpg" alt=""></div>
                <div class="thumb thumb-3"><img src="assets/images/resource/thumb-3.jpg" alt=""></div>
                <div class="thumb thumb-4"><img src="assets/images/resource/thumb-4.jpg" alt=""></div>
                <div class="thumb thumb-5"><img src="assets/images/resource/thumb-5.jpg" alt=""></div>
                <div class="thumb thumb-6"><img src="assets/images/resource/thumb-6.jpg" alt=""></div>
            </div>
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-35.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-36.png);"></div>
            </div>
            <div class="map-layer" style="background-image: url(assets/images/icons/map-1.png);"></div>
            <div class="auto-container">
                <div class="sec-title">
                    <h2>What Our Client are Saying <br />About Acuasafe</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-2">
                        <div class="single-item-carousel owl-carousel owl-theme dots-style-one owl-nav-none">
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <figure class="author-thumb"><img src="assets/images/resource/testimonial-1.jpg" alt=""></figure>
                                    <div class="inner">
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <p>Lorem ipsum dolor amet consectur adicing elit sed do usmod tempor incididunt enimad minim veniam quis nostrud exer citation laboris nisi aliquip commodo perspiciatis unde omnis natus.</p>
                                        <h5>Nicolas Lawson</h5>
                                        <span class="designation">Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <figure class="author-thumb"><img src="assets/images/resource/testimonial-2.jpg" alt=""></figure>
                                    <div class="inner">
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <p>Lorem ipsum dolor amet consectur adicing elit sed do usmod tempor incididunt enimad minim veniam quis nostrud exer citation laboris nisi aliquip commodo perspiciatis unde omnis natus.</p>
                                        <h5>Michael Bean</h5>
                                        <span class="designation">CEO Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <figure class="author-thumb"><img src="assets/images/resource/testimonial-1.jpg" alt=""></figure>
                                    <div class="inner">
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <p>Lorem ipsum dolor amet consectur adicing elit sed do usmod tempor incididunt enimad minim veniam quis nostrud exer citation laboris nisi aliquip commodo perspiciatis unde omnis natus.</p>
                                        <h5>Jennifer Lawrence</h5>
                                        <span class="designation">Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-style-two end -->


        <!-- video-section -->
        <section class="video-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="video-inner">
                        <div class="inner-box" style="background-image: url(assets/images/background/video-1.jpg);">
                             <div class="video-btn">
                                <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video-section end -->


        <!-- pricing-section -->
        <section class="pricing-section pt-170">
            <div class="auto-container">
                <div class="pricing-tabs">
                    <div class="row align-items-center clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>Choose Your Best Pricing Plan</h2>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud.Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab-1">Monthly</li>
                                        <li class="tab-btn" data-tab="#tab-2">Yearly</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                            <div class="inner-box">
                                <div class="inner-pattern" style="background-image: url(assets/images/shape/shape-31.png);"></div>
                                <div class="pr-content">
                                    <div class="pr-tab active-tab" id="tab-1">
                                        <div class="pricing-block-one">
                                            <div class="pricing-table">
                                                <div class="shape-layer" style="background-image: url(assets/images/shape/shape-28.png);"></div>
                                                <div class="table-header">
                                                    <div class="price-box">
                                                        <div class="price-shape">
                                                            <div class="shape-1" style="background-image: url(assets/images/shape/shape-29.png);"></div>
                                                            <div class="shape-2" style="background-image: url(assets/images/shape/shape-30.png);"></div>
                                                        </div>
                                                        <h3>$49</h3>
                                                        <span>Monthly</span>
                                                    </div>
                                                    <div class="title">
                                                        <h3>Standard Pricing</h3>
                                                    </div>
                                                </div>
                                                <div class="table-content">
                                                    <ul class="feature-list clearfix">
                                                        <li>SEO Analytics Tools</li>
                                                        <li>10 Gb Space on Cloud</li>
                                                        <li>2 Printer & Fax</li>
                                                        <li class="light">Team Access</li>
                                                        <li class="light">Privacy Settings</li>
                                                    </ul>
                                                </div>
                                                <div class="table-footer">
                                                    <a href="index.html" class="theme-btn btn-one">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pr-tab" id="tab-2">
                                        <div class="pricing-block-one">
                                            <div class="pricing-table">
                                                <div class="shape-layer" style="background-image: url(assets/images/shape/shape-28.png);"></div>
                                                <div class="table-header">
                                                    <div class="price-box">
                                                        <div class="price-shape">
                                                            <div class="shape-1" style="background-image: url(assets/images/shape/shape-29.png);"></div>
                                                            <div class="shape-2" style="background-image: url(assets/images/shape/shape-30.png);"></div>
                                                        </div>
                                                        <h3>$79</h3>
                                                        <span>Yearly</span>
                                                    </div>
                                                    <div class="title">
                                                        <h3>Standard Pricing</h3>
                                                    </div>
                                                </div>
                                                <div class="table-content">
                                                    <ul class="feature-list clearfix">
                                                        <li>SEO Analytics Tools</li>
                                                        <li>10 Gb Space on Cloud</li>
                                                        <li>2 Printer & Fax</li>
                                                        <li class="light">Team Access</li>
                                                        <li class="light">Privacy Settings</li>
                                                    </ul>
                                                </div>
                                                <div class="table-footer">
                                                    <a href="index.html" class="theme-btn btn-one">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-section end -->

{% endblock %}