{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<section class="sidebar-page-container blog-standard">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-details-content">
                    <div class="news-block-one">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'assets/images/news/news-14.jpg' %}" alt="">
                            </figure>
                            <div class="lower-content">
                                <div class="category"><a href="blog-details.html">Profile</a></div>
                                <div class="text">
<!--                                    <table class="table table-bordered">-->
<!--                                        <tbody>-->
<!--                                            <tr>-->
<!--                                                <th>Phone Number</th>-->
<!--                                                <td>{{ vendor.user.phone_number }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>District</th>-->
<!--                                                <td>{{ vendor.vendor_district }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>State</th>-->
<!--                                                <td>{{ vendor.vendor_state }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Country</th>-->
<!--                                                <td>{{ vendor.vendor_country }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Pincode</th>-->
<!--                                                <td>{{ vendor.vendor_pincode }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>PAN Status</th>-->
<!--                                                <td>{{ vendor.pan_yes_or_no }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>PAN Number</th>-->
<!--                                                <td>{{ vendor.vendor_PANNBR }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Street</th>-->
<!--                                                <td>{{ vendor.vendor_Street }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Landmark</th>-->
<!--                                                <td>{{ vendor.vendor_Landmark }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Building</th>-->
<!--                                                <td>{{ vendor.vendor_Building }}</td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <th>Products</th>-->
<!--                                                <td>-->
<!--                                                    {% for material in vendor.materials_name.all %}-->
<!--                                                        {{ material.name }}{% if not forloop.last %}, {% endif %}-->
<!--                                                    {% endfor %}-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'front/profile_slidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}
