

<div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
  <div class="service-sidebar">
    <div class="category-widget">
      <h3>My Profile</h3>
      <ul class="category-list clearfix">
        <li><a href="{% url 'my_profile' %}"><i class="fas fa-caret-right"></i>Profile</a></li>
        <li><a href="{% url 'request' %}"><i class="fas fa-caret-right"></i>Quotation </a></li>
        <li><a href="service-details-3.html"><i class="fas fa-caret-right"></i></a></li>
        <li><a href="service-details-4.html"><i class="fas fa-caret-right"></i></a></li>
        <li><a href="service-details-6.html"><i class="fas fa-caret-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>