{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<!-- Top Bar End -->

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url({% static 'front/assets/images/background/page-title1.jpg' %});">
            <div class="shape" style="background-image: url({% static 'front/assets/assets/images/shape/banner-shap.png' %});"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Steps</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Steps</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- feature-section -->
        <section class="feature-section centred sec-pad-2">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>
                                <div class="icon-box"></div>
                                <h4>Step 1</h4>
                                <p style="text-align: left;">As the first step, water is collected from an open well, which, using filter feed pumps, is treated for disinfection and dechlorination.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>
                                <div class="icon-box"></div>
                                <h4>Step 2</h4>
                                <p style="text-align: left;">The treated water is then made to flow vertically through a fine bed of sand, and this process effectively aids in encapsulating the suspended particles and heavy metals responsible for “hard water” pipe scaling and deposits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>
                                <div class="icon-box"></div>
                                <h4>Step 3</h4>
                                <p style="text-align: left;">Following Sand Filtration, the water is allowed to pass through a bed of activated carbon (charcoal) for the removal of impurities like chlorine, pesticides, herbicides, and other organic contaminants..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 4</h4>
                                <p style="text-align: left;">After Carbon filtration, an inorganic compound called Sodium Metabisulphite is introduced in water which acts as an antioxidant, disinfectant and a preservative agent.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 5</h4>
                                <p style="text-align: left;">The water is passed through two sets of filters – of 10 micron and 5 micron pore sizes – which means, nothing larger than 10 or 5 Micron will pass through. This process traps large and suspended particles such as sand, dirt, or grit at an early phase, to prevent fouling and clogging of the more sensitive equipment used at the later stage. </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 6</h4>
                                <p style="text-align: left;">Here, high pressure is induced to force water flow across a semipermeable membrane that causes the impurities to settle down on one side, allowing the pure water to easily cross the membrane; even the diffused impurities which cannot be eliminated by traditional filtration are picked up and removed by reverse osmosis.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 7</h4>
                                <p style="text-align: left;">The water is allowed to pass through a special chamber that stores a large ultraviolet light source which acts as a powerful sterilizing agent. If any microbial contaminants are present in the water, the ultraviolet light at this particular stage destroys them, thereby ruling out the possibility of bacterial or viral reproduction and proliferation. </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 8</h4>
                                <p style="text-align: left;">This is the most important phase of purification and disinfection, where ozone (o3) is circulated through the purified water. Ozone being powerful,  is capable of oxidizing a range of contaminants, impurities, and organisms. The process relies on natural oxygen to ensure that the purified water remains free of any possible microbial pollutants, with an intention to keep every single part of the purification system contamination free.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 9</h4>
                                <p style="text-align: left;">This system has been designed in such a manner that the water retains its exceptional purity and will not come into contact with any materials or substances which could in any way compromise its quality. Glenda features a storage system made of stainless steel and this ‘stainless steel concept’ rules out the problem of water coming in touch with potential substances. Thereafter, the water is made to run through a recirculation loop. </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 10</h4>
                                <p style="text-align: left;">During recirculation, additional ozone is periodically added to maintain the sterility of the system. Here, we use the most sophisticated analyzer and controller technology to run the entire system.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 11</h4>
                                <p style="text-align: left;">We have a dedicated section to show you how this methodology works!! It’s a 3 step process...Rinse-Fill-Cap, which is completely automated with no human intervention at any stage. The room is highly sanitized to ensure that the operation is held in a microbiologically controlled environment, and the activity is continuously monitored and controlled. For this purpose, we use only Quality certified PET bottles that are 100% recyclable, thereby limiting the scrap rate to under 0.1%.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one">
                            <div class="inner-box">
                                <div class="shape" style="background-image: url({% static 'front/assets/images/shape/shape-3.png' %});"></div>

                                <div class="icon-box"></div>
                                <h4>Step 12</h4>
                                <p style="text-align: left;">Once the capping part is over, the bottles are sealed. Following, automated labeling is done and Liwa is ready for the world. Again, while packaging, Quality Testing is done manually to ensure zero defects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature-section end -->

{% endblock %}