{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Zoogler</a></li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active">Validation</li>
                        </ol>
                    </div>
                    <h4 class="page-title">update Finished Water</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="mt-0 header-title"></h4>
                        <form class="" action="" method="post" onsubmit="return showAlert();" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>Category Name</label>
                                {{ form.category }}
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                {{ form.name }}
                            </div>
                             <div class="form-group">
                                <label>Size</label>
                                {{ form.size }}
                            </div>

                            <div class="form-group">
                                <label>Image</label>
                                {{ form.image }}
                            </div>


                            <div class="form-group mb-0">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

<script>
    function showAlert() {
        alert('Form submitted successfully!');
        return true; // allow the form to be submitted
    }
</script>

{% endblock %}
