{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">

    <div class="container-fluid">
    <div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title mb-0" style="
                        font-family: 'Arial', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        color: #607D8B;
                        letter-spacing: 2px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <span style="margin-left: 20px; margin-top: 50x;">Request Leave</span>
                    </h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Leave Type</label>
                                {{ form.leave_type }}
                            </div>

                            <div class="form-group">
                                <label>Start Date</label>
                                {{ form.start_date }}
                            </div>

                            <div class="form-group">
                                <label>End Date</label>
                                {{ form.end_date }}
                            </div>

                            <div class="form-group">
                                <label>Reason</label>
                                {{ form.reason }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Leave Request</button>
                            <a type="submit" class="btn btn-primary text-right" href="{% url 'my_profile' %}">Back to My Profile</a>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

{% endblock %}