{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title mb-0" style="
                        font-family: 'Arial', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        color: #607D8B;
                        letter-spacing: 2px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                        Leave Record
                    </h4>
                </div>
            </div>
        </div>
        <div class="row mb-3 justify-content-start">

        </div>
        <div class="row mb-3 justify-content-end text-right" >
            <div class="col-md-6">
                <a type="button" class="btn btn-primary" href="{% url 'leave_request_form' %}"><i class="fa fa-plus"></i> Leave Request</a>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table mb-0" id="my-table">
                            <thead>
                                <tr>
                                    <th>Request Date</th>
                                    <th>Duration</th>
                                    <th>Categories</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in leave_requests %}
                                <tr>
                                    <td>{{ request.start_date }} to {{ request.end_date }}</td>
                                    <td>{{ request.days_between }} days</td>
                                    <td>{{ request.leave_type }}</td>
                                    <td>{{ request.reason }}</td>
                                    <td>
                                        {{ request.approval_status }}
                                        {% if request.approval_status == 'REJECTED' %}
                                        <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#viewRejectionReasonModal" data-reason="{{ request.rejection_reason }}" aria-expanded="false" aria-controls="reason-{{ forloop.counter }}" title="View Reason"
                                            style="background: none; border: none; padding: 0; margin: 0; color: #dc3545;">
                                            <i class="fas fa-eye" style="font-size: 1.2em; color: #6e54ab;"></i>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No leave requests found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Pagination Controls -->
                        {% if leave_requests.has_other_pages %}
                        <nav aria-label="Page navigation">
                            <div class="pull-right">
                                <ul class="pagination" style="margin-top:0px;">
                                    {% if not leave_requests.has_previous %}
                                    <li class="disabled">
                                        <span id="requestListTable-link" class="disabled">&lt;&lt;</span>
                                    </li>
                                    <li class="disabled">
                                        <span id="requestListTable-link" class="disabled">&lt;</span>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a id="requestListTable-link" href="?page=1" title="Go to first page">&lt;&lt;</a>
                                    </li>
                                    <li>
                                        <a id="requestListTable-link" href="?page={{ leave_requests.previous_page_number }}" title="Go to previous page">&lt;</a>
                                    </li>
                                    {% endif %}

                                    {% for num in leave_requests.paginator.page_range %}
                                    {% if num == leave_requests.number %}
                                    <li class="active">
                                        <span id="requestListTable-link">{{ num }}</span>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a id="requestListTable-link" href="?page={{ num }}" title="Go to page {{ num }}">{{ num }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if not leave_requests.has_next %}
                                    <li class="disabled">
                                        <span id="requestListTable-link" class="disabled">&gt;</span>
                                    </li>
                                    <li class="disabled">
                                        <span id="requestListTable-link" class="disabled">&gt;&gt;</span>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a id="requestListTable-link" href="?page={{ leave_requests.next_page_number }}" title="Go to next page">&gt;</a>
                                    </li>
                                    <li>
                                        <a id="requestListTable-link" href="?page={{ leave_requests.paginator.num_pages }}" title="Go to last page">&gt;&gt;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                        {% endif %}

                        <div class="modal fade" id="viewRejectionReasonModal" tabindex="-1" role="dialog" aria-labelledby="viewRejectionReasonModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewRejectionReasonModalLabel">Rejection Reason</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="rejectionReasonText"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
// Handle showing the rejection reason in the modal
$('#viewRejectionReasonModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var reason = button.data('reason'); // Extract info from data-* attributes
    var modal = $(this);

    modal.find('#rejectionReasonText').text(reason); // Update the modal's content
});
</script>

{% endblock %}
