{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title mb-0" style="
                        font-family: 'Arial', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        color: #607D8B;
                        letter-spacing: 2px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <span style="margin-left: 20px; margin-top: 50x;">My Account</span>
                    </h4>
                    <div class="d-flex align-items-center" style="gap: 10px; margin-top: 20px">




                        <!-- Action Buttons (Aligned to the Right) -->
                        <div class="ml-auto  align-items-center">
                            {% if view %}
                                <a type="button" class="btn btn-primary waves-effect waves-light" href="{% url 'update_employee_details' view.user.id %}">
                                    <i class="fa fa-edit"></i> Update
                                </a>
                            {% else %}
                                <a type="button" class="btn btn-primary" title="Add Details" href="{% url 'AddDetails' %}" style="margin-right: 10px;">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {% endif %}

                            <button class="btn btn-primary waves-effect waves-light" style="gap:15px;"
                               data-toggle="modal"
                               data-target="#resignationModal"
                               data-id="{{ user.id }}"
                               data-name="{{ user.name }}">
                                Resign
                            </button>
                        </div>
                    </div>
                </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card mt-4" style="margin-top: 20px;">
                    <div class="card-body" >
                        <h4 class="mt-0 header-title"></h4>
                        <p class="text-muted mb-4 font-13"></p>

                        <table class="table mb-2" id="my-table">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{% if view and view.user.name %}{{ view.user.name }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{% if view and view.user.email %}{{ view.user.email }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>{% if view and view.user.phone_number %}{{ view.user.phone_number }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Pincode</th>
                                    <td>{% if view and view.pincode %}{{ view.pincode }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>District</th>
                                    <td>{% if view and view.district %}{{ view.district }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{% if view and view.state %}{{ view.state }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Country</th>
                                    <td>{% if view and view.country %}{{ view.country }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Street</th>
                                    <td>{% if view and view.street %}{{ view.street }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Landmark</th>
                                    <td>{% if view and view.landmark %}{{ view.landmark }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <td>{% if view and view.id_proof_type %}{{ view.id_proof_type }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Id Number</th>
                                    <td>{% if view and view.id_proof_type_number %}{{ view.id_proof_type_number }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Salary Information</th>
                                    <td>{% if view and view.basic %}{{ view.basic }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Date of Birth</th>
                                    <td>{% if view and view.date_of_birth %}{{ view.date_of_birth }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>ESI Number</th>
                                    <td>{% if view and view.employee_esi_no %}{{ view.employee_esi_no }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>PF Number</th>
                                    <td>{% if view and view.pf_no %}{{ view.pf_no }}{% else %}  {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Employee Blood Groups</th>
                                    <td>{% if view and view.employee_blood_groups %}{{ view.employee_blood_groups }}{% else %}  {% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    <div id="resignationModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Resignation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure you want to mark <span id="employeeName"></span> as resigned?</h5>
                                </div>
                                <div class="modal-footer">
                                    <!-- Form for resignation -->
                                    <form id="resignationForm" method="POST" action="{% url 'resign_employee_details' 0 %}">
                                        {% csrf_token %}
                                        <!-- Hidden input for employee ID -->
                                        <input type="hidden" name="employee_id" id="employeeId">
                                        <button type="submit" class="btn btn-primary">Resign</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
</div>

{% endblock %}