{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-content-wrapper">
    <div class="container-fluid">
        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Employee Resignation</h4>
                </div>
            </div>
        </div>

        <!-- Resignation Confirmation -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Are you sure you want to mark {{ dtl.user.name }} as resigned?</h5>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Resign</button>
                            <a href="{% url 'Employee_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
