<!-- hr/view_leave_details.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="page-title-box">
                    <h4 class="page-title mb-0" style="
                        font-family: 'Arial', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        color: #607D8B;
                        letter-spacing: 2px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    ">
                        <span style="margin-left: 20px; margin-top: 50x;">Leave Log</span>
                    </h4>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <table class="table mb-2">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ view.employee.user.name }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ view.employee.user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>{{ view.employee.user.phone_number }}</td>
                                </tr>
                                <tr>
                                    <th>Leave Type</th>
                                    <td>{{ view.leave_type }}</td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td>{{ view.start_date }}</td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td>{{ view.end_date }}</td>
                                </tr>
                                <tr>
                                    <th>Reason</th>
                                    <td>{{ view.reason }}</td>
                                </tr>
                                <tr>
                                    <th>Approval Status</th>
                                    <td>{{ view.approval_status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container -->
</div> <!-- Page content Wrapper -->
{% endblock %}